#grid{
	display:grid;
	background-color:green;
	grid-template-rows:124px 124px 124px 124px  124px;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	color:white;
	grid-gap:10px;
	
}
div{
	border:2px solid white;
}
#grid>div#a1{
	grid-column:span 4/ auto;
}
#grid>div#b2{
	grid-row: span 4/auto;
}
#grid>div#d4{
	grid-column: span 2/auto;
	/* grid-column-end:3; */
}
#grid>div#e5{
	grid-column:span 2/auto;
}
#grid>div#j0{
	grid-column: span 3/auto;
}
