#grid{
	display:grid;
	background-color:green;
	grid-template-rows:124px 124px 124px 124px  124px;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	color:white;
	grid-gap:10px;
	
}
div{
	border:2px solid white;
}
#a1{
	grid-column-start:1;
	grid-column-end:5;

}
#b2{
	grid-row-start:2;
	grid-row-end:6;
}
#c3{
	grid-column-start:2;
	grid-column-end:3;
}
#d4{
	grid-column-start:3;
	grid-column-end:5;
}
#e5{
	grid-column-start:2;
	grid-column-end:4;
}
#f6{
grid-column-start:4;
	grid-column-end:5;
}
#g7{
	grid-column-start:2;
	grid-column-end:3;
}
#h8{
	grid-column-start:3;
	grid-column-end:4;
}
#i9{
	grid-column-start:4;
	grid-column-end:5;
}
#j0{
	grid-column-start:2;
	grid-column-end:5;
}